@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', serif;
}

.wrapper {
  background: rgba(255, 246, 241, 0.877);

  /* background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);
  background: linear-gradient(to left, #ff5e62, #ff9966); */

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 75%;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  background: url('./img/weather.JPEG') center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 2;
  font-family: 'Roboto Slab', serif;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
}

.form-container {
  background-color: rgba(247, 247, 247, 0.911);
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

input[type='text'] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #ff5e62;
  width: 30%;
  padding-bottom: 4px;
  color: #393e42 !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

::placeholder {
  color: rgb(168, 161, 161);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f8f7f7 inset;
  -webkit-text-fill-color: #393e42 !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #ff5e62;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #eb4d50;
  border-bottom: solid 2px #bcc7ca98;
  padding: 20px 0 20px 0;
  font-weight: 500;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #393e42;
  font-weight: 200;
}

.weather__error {
  color: #ff5e62;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
